/* line 1, ../sass/about.scss */
#about {
  text-align: center;
  background-color: #f6f9f9;
  width: 100%;
  padding: 8em 25em 11em;
}
/* line 6, ../sass/about.scss */
#about h2 {
  font: 400 4em 'Lato', sans-serif;
  color: #2d3950;
  margin: 0 auto 3rem;
}
/* line 11, ../sass/about.scss */
#about p {
  font: 400 2em/1.6 'Lato', sans-serif;
  color: #999999;
  margin-bottom: 0;
}
